<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../public/css/styles.css">
	<title>5-dars</title>
</head>
<body>
	<div class="site-header">
		<img src="../images/logo.svg" alt="site logo" width="160" height="41">
		<ul class="site-nav-items">
			<li class="site-nav-item"><a href="#">Home</a></li>
			<li class="site-nav-item"><a href="#">Find a doctor</a></li>
			<li class="site-nav-item"><a href="#">Apps</a></li>
			<li class="site-nav-item"><a href="#">Testimonials</a></li>
			<li class="site-nav-item"><a href="#">About us</a></li>
		</ul>
	</div>  <!-- end-of-header-section -->

	<div class="virtual-healthcare">
		<div>
			<h1>Virtual healthcare for you</h1>
			<p>Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone</p>
			<a href="#">Consult today</a>
		</div>
		<img src="../images/healthcare-illustration.png" alt="healthcare-illustration" width="693" height="598">
	</div>
</body>
</html>